﻿html {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #00214d;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px solid white;
}
h1 {
    color: #FFD700;
}
h2 {
    font-weight: bold;
}
.listoflanguage {
    margin-top: 20px;
    list-style: none;
}
.listoflanguage a {
    text-decoration: none;
    font-weight:bold;
    color: white;
}
.listoflanguage a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #FFD700;
}
.titlestyle {
    color: #00214d;
    text-align: center;
    padding: 30px 10px 20px 10px;
    margin-top: 10px;
}
.bodystyle, .detailstyle, .subtitlestyle {
    margin: 10px;
}
.detailstyle {
    background-color: #F5F5F5;
    padding: 10px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #FFD700;
}
footer {
    color: #00214d;
    padding: 10px;
    font-size: 12px;
    clear: both;
}
